*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.chat-container {
  width: 420px;
  margin: 20px auto;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.541);
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.chat-box {
  height: 350px;
  overflow-y: auto;
  padding: 10px;
  background: #f7f7f7;
  border-radius: 8px;
  margin-bottom: 15px;
}

.message {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  max-width: 75%;
  width: fit-content; 
  max-width: 75%; 
}

.message.user {
  background: #4b8bff;
  color: white;
  margin-left: auto;
  text-align: right;
}

.message.bot {
  background: #e6e6e6;
  color: black;
  text-align: left;
}

.input-area {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  padding: 10px 20px;
  background: #4b8bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #1a6cff;
}
